.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding: 0 20px;
}
.container{
   width: 1150px;
   display: flex;
   min-height: 1000px;
}
.content{
    flex: 1;
    min-height: 1000px;
}